@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

.drawer {
  height: 100%;
  position: fixed;
  width: 0;
  transition: all 0.3s linear;
  z-index: 50 !important;
  top: 0;
  background-color: white;
  overflow-x: hidden;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

@keyframes openDrawer {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes closeDrawer {
  from {  width: 100%; }
  to { width: 0; }
}

.drawer.open {
  animation: openDrawer 0.3s forwards;
}
.drawer.close {
  animation: closeDrawer 0.3s forwards;
}

.active-animation{
  animation:activeAnimation 2s linear infinite;
}

@keyframes activeAnimation {
  0%{
    box-shadow: 0 0 0 0 rgba(34, 197, 94, .7), 0 0 0 0 rgba(34, 197, 94, 0.702);
  }
  40%{
    box-shadow: 0 0 0 5px rgba(34, 197, 94, 0), 0 0 0 0 rgba(34, 197, 94, .7);
  }
  80%{
    box-shadow: 0 0 0 5px rgba(34, 197, 94, 0), 0 0 0 0 rgba(34, 197, 94, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(34, 197, 94, 0), 0 0 0 0 rgba(34, 197, 94, 0);
  }
}

.react-tel-input{
  width: 100% !important;
  height: 45px !important;
}
.form-control{
  width: 100% !important;
  height: 45px !important;
  border: 1px solid #e5e7eb !important;
}
.flag-dropdown {
  border: 1px solid #e5e7eb !important;
}